<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="metaImage" property="og:image" content="//update.coolmessenger.com/_ImageServer/alimi-info/sns.png">
    <meta property="og:title" content="알리미">
    <meta property="og:description" content="문자보다 더 저렴하고 강력하게 학교 공지 보내기">
    <meta property="og:keywords" content="쿨알리미,알리미,SMS,알림톡">
    <meta name="title" content="알리미">
    <meta name="description" content="문자보다 더 저렴하고 강력하게 학교 공지 보내기">
    <meta name="keywords" content="쿨알리미,알리미,SMS,알림톡">
    <title>학교공지는 쿨알리미</title>
    <link rel="shortcut icon" href="//update.coolmessenger.com/_ImageServer/alimi/favicon_Alimi.ico">
    <% if (webpackConfig.mode !== 'production') { %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <% } %>
</head>

<body>
<div class="container"></div>
</body>
<script src="/bundle.js"></script>
</html>
